logs
results
.ipynb_checkpoints/
delta_setup
__pycache__
directions/*
quantitative_comparisons/language_translations/
quantitative_comparisons/program_translations/
quantitative_comparisons/analysis/*.pdf
quantitative_comparisons/analysis/*plots
scripts/*
hidden_states/*
figures/*
*/*.out
*/v1
*/*/v1
results_*
old_results

data/agentharm/
data/facts/
data/hallucinations/
data/languages/
data/newton/
data/politics/
data/reviews/
data/sentiment/
directions_for_v2_paper/
notebooks/reviews.ipynb
notebooks/politics.ipynb
notebooks/harmful.ipynb
